{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{url_for('static',filename='css/card.css')}}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %} {% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/Teamexe">EXEplore</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard">Dashboard</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">GAMES</h5>
        <div class="row">
            <!-- Team member -->
            {% for game in games %}
            <div style="margin: 50px; height: 300px; width: 400px; background-color: #fff; box-shadow: #000 0px 0px 21px 6px; border-radius: 20px;">
                <div style="font-size: 3em; position: relative; top: 220px;">
                    <center>{{game.game_name}}</center>
                </div>
                <div style="font-size: 2em; position: relative;">
                    <center><a href="{{url_for('game',user_id = user.user_id,game_id=(games.index(game)+1))}}"><i class="fa fa-gamepad fa-5x" aria-hidden="true"></i></a></center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}