<!doctype html>

<html lang="en">


<head>


    <!-- META -->
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- PAGE TITLE -->
    <title>EXEplore</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext"
        rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css">


</head>


<body>


    <!-- PRELOADER -->
    <div class="preloader">

        <div class="spinner"></div>

    </div>
    <!-- /PRELOADER -->


    <!-- IMAGE CONTAINER -->
    <div class="image-container">

        <div class="background-img"></div>

    </div>
    <!-- /IMAGE CONTAINER -->


    <!-- CONTENT AREA -->
    <div class="content-area">


        <!-- CONTENT AREA INNER -->
        <div class="content-area-inner">


            <!-- INTRO -->
            <section id="intro">


                <!-- CONTAINER MID -->
                <div class="container-mid">


                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-right introtext" data-animation-delay="0">

                        <h2>Welcome to</h2>
                        <h1>EXEPLORE</h1>
                        <h3>A world of gaming</h3>

                    </div>
                    <!-- /ANIMATION CONTAINER -->


                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-right" data-animation-delay="200">

                        <a href="/login">Play<div class="circle"><i class="fa fa-gamepad" aria-hidden="true"></i><i
                                    class="fa fa-gamepad" aria-hidden="true"></i></div></a>
                        <br>
                                    <a href="#rules" class="">Rules<div class="circle"><i class="fa fa-arrow-down" aria-hidden="true"></i><i class="fa fa-arrow-down"
                                    aria-hidden="true"></i></div></a>
                    </div>
                    <!-- /ANIMATION CONTAINER -->


                </div>
                <!-- /CONTAINER MID -->


            </section>
            <!-- /INTRO -->

            <!-- ABOUT -->
            <section id="rules">


                <h2 class="headline scroll-animated">Rules:</h2>

<p class="scroll-animated"> 1. Read all the rules carefully before starting </p>
<p class="scroll-animated"> 2. Use only <b>Google Chrome browser</b> to play the games. </p>
<p class="scroll-animated"> 3. Plug in your charger and use mouse for better experience. </p>
<p class="scroll-animated"> 4. You can <u>start</u> playing the games any time between 9:00PM, 28/03/2018 to 9:00PM,
    29/03/2018. </p>
<p class="scroll-animated"> 5. Once you login into the system, you will be given only 3 hours to play all the games.
</p>
<p class="scroll-animated"> 6. A Timer will start as soon you login for the first time, and after 3 hours you cannot
    play any game or login into your account. However you can still see the leaderboard. </p>
<p class="scroll-animated"> 7. The score is submitted once you finish a game.If you finish a game after the time is
    over, the score will not be submitted. </p>
<p class="scroll-animated"> 8. The score for each game will be added into total score <b>relative</b> to the highest
    score of all users. Hence the highest scorer in a game will get 100 points. Then the total score will be the average
    of all scores. </p>
<p class="scroll-animated"> 9. <b>It is not allowed to open the console window or attempt to hack the system or else you
        will get disqualified.</b> </p>
<p class="scroll-animated"> 10. Do not use back button to navigate, use the navbar instead. </p>
<p class="scroll-animated"> 11. Prizes: 1st - Rs. 5000, 2nd - Rs. 3000, 3rd - Rs. 2000 </p>


                <!-- CLIENTS -->
                <!-- <div class="row clients scroll-animated">
                    
                    
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-1.png"
                                    alt="client"></div>
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-2.png"
                                    alt="client"></div>
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-3.png"
                                    alt="client"></div>
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-4.png"
                                    alt="client"></div>
                    
                    
                        </div> -->
                <!-- /CLIENTS -->


            </section>
            <!-- /ABOUT -->









            <!-- FOOTER -->
            <section id="footer">


                <!-- SOCIAL ICONS -->
                <ul class="social-icons scroll-animated">


                    <li><a href="https://github.com/teamexe"><i class="fa fa-github" aria-hidden="true"></i><i
                                class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/teamexe/?ref=br_rs"><i class="fa fa-facebook"
                                aria-hidden="true"></i><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/teamexenith/?utm_source=ig_embed"><i class="fa fa-instagram"
                                aria-hidden="true"></i><i class="fa fa-instagram" aria-hidden="true"></i></a></li>


                </ul>
                <!-- /SOCIAL ICONS -->


                <p class="scroll-animated">Made by <a href="https://teamexe.in/">Team .EXE</a></p>


            </section>
            <!-- /FOOTER -->


        </div>
        <!-- /CONTENT AREA INNER -->


    </div>
    <!-- /CONTENT AREA -->


    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="/static/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/static/assets/js/main.js"></script>


</body>


</html>