<!doctype html>

<html lang="en">


<head>


    <!-- META -->
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- PAGE TITLE -->
    <title>EXEplore</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext"
        rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css">


</head>


<body>


    <!-- PRELOADER -->
    <div class="preloader">

        <div class="spinner"></div>

    </div>
    <!-- /PRELOADER -->


    <!-- IMAGE CONTAINER -->
    <div class="image-container">

        <div class="background-img"></div>

    </div>
    <!-- /IMAGE CONTAINER -->


    <!-- CONTENT AREA -->
    <div class="content-area">


        <!-- CONTENT AREA INNER -->
        <div class="content-area-inner">


            <!-- INTRO -->
            <section id="intro">


                <!-- CONTAINER MID -->
                <div class="container-mid">


                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-right introtext" data-animation-delay="0">

                        <h2>Welcome to</h2>
                        <h1>EXEPLORE</h1>
                        <h3>A world of gaming</h3>

                    </div>
                    <!-- /ANIMATION CONTAINER -->


                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-right" data-animation-delay="200">

                        <a href="/login">Play<div class="circle"><i class="fa fa-gamepad" aria-hidden="true"></i><i
                                    class="fa fa-gamepad" aria-hidden="true"></i></div></a>

                    </div>
                    <!-- /ANIMATION CONTAINER -->


                </div>
                <!-- /CONTAINER MID -->


            </section>
            <!-- /INTRO -->

            <!-- ABOUT -->
            <section id="about">


                <h3 class="headline scroll-animated">Rules:</h3>

                <p class="scroll-animated">1) Rule number 1</p>

                <p class="scroll-animated">2) Rule number 2</p>


                <!-- CLIENTS -->
                <!-- <div class="row clients scroll-animated">
                    
                    
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-1.png"
                                    alt="client"></div>
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-2.png"
                                    alt="client"></div>
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-3.png"
                                    alt="client"></div>
                            <div class="col-md-3 col-xs-6"><img class="img-responsive" src="/static/assets/img/clients/client-4.png"
                                    alt="client"></div>
                    
                    
                        </div> -->
                <!-- /CLIENTS -->


            </section>
            <!-- /ABOUT -->









            <!-- FOOTER -->
            <section id="footer">


                <!-- SOCIAL ICONS -->
                <ul class="social-icons scroll-animated">


                    <li><a href="https://github.com/teamexe"><i class="fa fa-github" aria-hidden="true"></i><i
                                class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/teamexe/?ref=br_rs"><i class="fa fa-facebook"
                                aria-hidden="true"></i><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/teamexenith/?utm_source=ig_embed"><i class="fa fa-instagram"
                                aria-hidden="true"></i><i class="fa fa-instagram" aria-hidden="true"></i></a></li>


                </ul>
                <!-- /SOCIAL ICONS -->


                <p class="scroll-animated">Made by <a href="https://teamexe.in/">Team .EXE</a></p>


            </section>
            <!-- /FOOTER -->


        </div>
        <!-- /CONTENT AREA INNER -->


    </div>
    <!-- /CONTENT AREA -->


    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="/static/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/static/assets/js/main.js"></script>


</body>


</html>