<html>
    <head>
        <title>LEADERBOARD</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
function reload(){
    $.ajax({
        url: "/api/leaderboard",
        type: "GET",
        success: function(response){
            console.log(response);
            $("#tb1").remove();
            $("body").append("<table id=\"tb1\">\
                <tr>\
                <th>Rollno</th>\
                <th>Total Score</th>\
                </tr >\
                </table>\
                ");
            response['games'].forEach(element => {
               $("#tb1 tr").append("<th>"+element+"</th>");
            });
            response['leader_data'].forEach(data => {
                var userid = data[0];
                var rollno = response['rollnos'][userid];
                var rowdata = "";
                rowdata += "<td>" + rollno + "</td>";
                rowdata += "<td>" + data[1] + "</td>";
                response['games'].forEach(gamename => {
                    rowdata += "<td>" + data[2][gamename] + "</td>";
                });
                $("#tb1").append("<tr>"+rowdata+"</tr>");
            });
        }
    });
}

setInterval(() => {
    reload();
}, 1000);
        </script>
    </head>
    <body>
        <h1>LEADERBOARD</h1>
        <table id="tb1">
            <tr>
                <th>Rollno</th>
                <th>Total Score</th>
            </tr>
        </table>
    </body>
</html>