<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<style>
	/* FontAwesome for working BootSnippet :> */

	@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

	#team {
		background: #482255 !important;
	}

	.btn-primary:hover,
	.btn-primary:focus {
		background-color: #ffebff;
		border-color: #ffebff;
		box-shadow: none;
		outline: none;
	}

	.btn-primary {
		color: #fff;
		background-color: #d9ebf4;
		border-color: #d9ebf4;
	}

	section {
		padding: 60px 0;
	}

	section .section-title {
		text-align: center;
		color: #d9ebf4;
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	#team .card {
		border: none;
		background: #ffffff;
	}

	.image-flip:hover .backside,
	.image-flip.hover .backside {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		border-radius: .25rem;
	}

	.image-flip:hover .frontside,
	.image-flip.hover .frontside {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.mainflip {
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-ms-transition: 1s;
		-moz-transition: 1s;
		-moz-transform: perspective(1000px);
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transition: 1s;
		transform-style: preserve-3d;
		position: relative;
	}

	.frontside {
		position: relative;
		-webkit-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		z-index: 2;
		margin-bottom: 30px;
	}

	.backside {
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	}

	.frontside,
	.backside {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-moz-transition: 1s;
		-moz-transform-style: preserve-3d;
		-o-transition: 1s;
		-o-transform-style: preserve-3d;
		-ms-transition: 1s;
		-ms-transform-style: preserve-3d;
		transition: 1s;
		transform-style: preserve-3d;
	}

	.frontside .card,
	.backside .card {
		min-height: 312px;
		min-width: 312px;
	}

	.backside .card a {
		font-size: 18px;
		color: #482255 !important;
	}

	.frontside .card .card-title,
	.backside .card .card-title {
		color: #482255 !important;
	}

	.frontside .card .card-body img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
</style>
<section id="team" class="pb-5">
	<div class="container">
		<h5 class="section-title h1">{{user.roll_number}} {{user.first_name}} {{user.last_name}}</h5>
		<div class="row">
			<!-- Team member -->
			{% for game_record in record %}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid"
											src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
											alt="card image"></p>
									<h4 class="card-title">{{ game_record.game_f.game_name}}</h4>
									<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">{{game_record.high_score}}</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- ./Team member -->
		</div>
	</div>
</section>
<!-- Team -->

<!-- {% extends "layout.html" %}

{% block title %}Profile page{% endblock %}

{% block content %}

	{{ user.roll_number }}<br>
	{{ user.first_name }}<br>
	{% for game_record in record %}
		{{ game_record.game_f.game_name }} {{ game_record.high_score }}
	{% endfor %}
{% endblock %} -->