{% extends "layout.html" %} {% block title %}Register Page{% endblock %}
<!-- <style>
        /* Made with love by Mutiullah Samim*/
        
        @import url('https://fonts.googleapis.com/css?family=Numans');
        html,
        body {
            background: url(/static/assets/img/background2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }
        
        .container {
            height: 100%;
            align-content: center;
        }
        
        .card {
            height: 520px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0, 0, 0, 0.5) !important;
        }
        
        .social_icon span {
            font-size: 60px;
            margin-left: 10px;
            color: #2892D7;
        }
        
        .social_icon span:hover {
            color: white;
            cursor: pointer;
        }
        
        .card-header h3 {
            color: white;
        }
        
        .social_icon {
            position: absolute;
            right: 20px;
            top: -45px;
        }
        
        .input-group-prepend span {
            width: 50px;
            background-color: #68E2F4;
            color: black;
            border: 0 !important;
        }
        
        input:focus {
            outline: 0 0 0 0 !important;
            box-shadow: 0 0 0 0 !important;
        }
        
        .remember {
            color: white;
        }
        
        .remember input {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }
        
        .login_btn {
            color: black;
            background-color: #68E2F4;
            width: 100px;
        }
        
        .login_btn:hover {
            color: black;
            background-color: white;
        }
        
        .links {
            color: white;
        }
        
        .links a {
            margin-left: 4px;
        }
    </style> -->
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <br><br>
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    <form method="post" class="form-horizontal">
                        <div class="form-group input-group">
                            <div class="input-group-prepend"></div>
                            <input class="form-control" type="text" name="roll_number" placeholder="Enter Roll Number"><br>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend"></div>
                            <input class="form-control" type="text" name="first_name" placeholder="Enter First name"><br>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend"></div>
                            <input class="form-control" type="text" name="last_name" placeholder="Enter Last Name"><br>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend"></div>
                            <input class="form-control" type="password" name="password" placeholder="Enter Password"><br>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend"></div>
                            <input class="form-control" type="text" name="phone_number" placeholder="Enter Phone Number"><br>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn float-right login_btn">
                        </div>
                    </form>

                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Have an account?<a href="/login">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}