<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIMEOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body background="/static/assets/img/background2.jpg">
    
</body>
</html>


<!doctype html>

<html lang="en">


<head>


    <!-- META -->
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- PAGE TITLE -->
    <title>EXEplore</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext"
        rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css">


</head>


<body>


    <!-- PRELOADER -->
    <div class="preloader">

        <div class="spinner"></div>

    </div>
    <!-- /PRELOADER -->


    <!-- IMAGE CONTAINER -->
    <div class="image-container">

        <div class="background-img"></div>

    </div>
    <!-- /IMAGE CONTAINER -->


    <!-- CONTENT AREA -->
    <div class="content-area">


        <!-- CONTENT AREA INNER -->
        <div class="content-area-inner">


            <!-- INTRO -->
            <section id="intro">


                <!-- CONTAINER MID -->
                <div class="container-mid">


                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-right introtext" data-animation-delay="0">

                        <center>
                            <h1>Time Out</h1>
                        </center>
                        <center>
                            <h3>Your time is over. Thanks for playing!</h3>
                        </center>
                        <br><br><br>
                        <center>
                            <a href="/leaderboard"><u>
                                Go to Leaderboard
                            </u></a>
                            <br><br>
                            
                            <a href="/leaderboard"><u>
                                    Or Sign Out to play another game!
                                </u></a>
                                
                        </center>
                    </div>
                    <!-- /ANIMATION CONTAINER -->


                    

    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="/static/assets/js/plugins.js"></script>
    <script type="text/javascript" src="/static/assets/js/main.js"></script>


</body>


</html>